<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="NewTestsSuite">

    <test name="OnlyNewTests">

        <classes>
            <class name="tests.BookingExcelDrivenTest"/>
            <class name="tests.BookingExternalJsonTest"/>
            <class name="tests.BookingSchemaValidationTest"/>
        </classes>

    </test>

</suite>
